#parse("header.html")

<div class="main2">
    <div class="left">
        <img width="100" height="100" class="img-circle" src="$!{vo.user.headUrl}">
        <br/><br/>
        <h4>用户：<label id="username">$!{vo.user.name}</label></h4><br/>
        <div class="js-sendletter">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="javascript:void(0);"><input type="submit" value="发私信" class="js-submit btn btn-default btn-info"></a>
                <br/>
            </div>
        </div>
    </div>


    <div class="right">
        <div class="container" id="daily">
            <div class="jscroll-inner">
                <div class="daily">
                    <h2 class="date">
                        <i class="fa icon-calendar"></i>
                        <span>我&nbsp;的&nbsp;分&nbsp;享</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    window.name=document.getElementById("username").innerHTML;
</script>
<script type="text/javascript" src="/scripts/main/site/personal.js"></script>
#parse("footer.html")